* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
 
body {
	font-family:oswald, helvetica, arial, sans-serif;
	background:url(img/fondo.jpg);
	background-size:cover;
	background-attachment: fixed;
	background-position:0 0px;
}
 
.contenedor {
	width: 90%;
	max-width:1300px;
	margin:auto;
}
 
#particles-js {
	width: 100%;
	height:100%;
	position: fixed;
	background:rgba(0,0,0,.8);
}
 
header {
	position: relative;
	height: auto;
}
 
header .menu {
	background:rgba(255,255,255,.7);
	overflow: hidden;
}
 
header .logo {
	color:rgba(0,0,0,.8);
	float: left;
	font-size:30px;
	line-height:80px;
}
 
header nav {
	float: right;
}
 
header nav ul {
	list-style: none;
}
 
header nav ul li {
	float: left;
}
 
header nav ul li a {
	color:rgba(0,0,0,.8);
	text-decoration: none;
	display: block;
	font-size: 25px;
	padding: 0 20px;
	line-height: 80px;
}
header nav ul li:hover{
	background: rgba(0,0,0,.8);
	border-bottom: inset 5px solid #fff;
}

header nav ul li a:hover{
color: #fff;
}

.principal{
	position: relative;
	color: #000;
	margin-top: 50px;
	
}
.principal article{
	padding: 20px;
	background-color: rgba(255, 254, 255, 0.5);

}

.imagenes{
	position: relative;	
}
	

.yo1{
	display: block;
	margin-bottom: 30px;
	margin-top: 30px;
	width: 40%;
	height: 40%;	
}

.titulo{
	text-align: center;
	font-size: 30px;
}
p{
	font-size: 25px;
	margin-top: 10px;
}
.footer {
  background: #333;
  background-color: rgba(141, 145, 136, 0.5);
  padding: 10px;
  position: relative;
  text-align: center;
  margin-top: 20px;
}

.footer .social [class^="icon-"] {
  display: inline-block;
  color: #333;
  text-decoration: none;
  font-size: 30px;
  padding: 10px;
  background: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 40px;
}
.contenedor {

  margin: auto;
  width: 99%;
}

.desc1{
	display: block;
	width: 35%;
	height: 35%;
	margin-bottom: 20px; 
	margin-top:50px;

}
.descripcion{
	display: flex;
  justify-content: center;
	
}
.desc2{
	
	width: 35%;
	height: 35%;
	 padding: 10px;
  margin: 10px;
	

}
.desc3{
	
	width: 35%;
	height: 35%;
	 padding: 10px;
  margin: 10px;

}
.desc4{
	display: block;
	width: 50%;
	height: 40%;
	margin-bottom: 20px; 
	margin-top:50px;

}