p {
  font-size: 19px
}

#salario, #meses {
    color: black;
    font-size: 20px;
}


.calcula-ag{
    display: block;
    padding: 30px;
    margin-top: 40px; 
    border: 3px solid black;
    border-radius: 50px;
    width: 50%;
}

#num, #mes{
    font-size: 20px;
    width: 30%;
    border: 1px solid gray;
}

#out-aguinaldo {
    font-size: 50px;
}

/*------------------Estilos responsive------------------*/

@media(min-width:300px) {
    .calcula-ag{
        width: 98vw;
    }
}
    
  @media(min-width:768px) {  
    .calcula-ag{
        width: 97vw;
    }
  }
  
  @media(min-width:1024px) {  
    .calcula-ag{
        width: 98vw;
    }
  }
  
  @media(min-width:1280px) {
    .calcula-ag{
        width: 90vw;
    } 
}